{% extends "layout.html" %}
{% block title %}物料查询{% endblock %}
{% block container %}
<div class="col-12">
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">物料相关信息查询</h4>
        <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
            <div class="table-responsive m-t-40">
                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th>图号</th>
                        <th>物料名称</th>
                        <th>物料规格</th>
                        <th>存放位置</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        <th>图号</th>
                        <th>物料名称</th>
                        <th>物料规格</th>
                        <th>存放位置</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for i in dwg1 %}
                        <tr>
                        <td>{{ i.dwg_num }}</td>
                        <td>{{ i.dwg_name }}</td>
                        <td>{{ i.dwg_norm }}</td>
                        <td>{{ i.localhub }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static',filename="js/lib/jquery/jquery.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/bootstrap/js/popper.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/bootstrap/js/bootstrap.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/jquery.slimscroll.js") }}"></script>
<script src="{{ url_for('static',filename="js/sidebarmenu.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/sticky-kit-master/dist/sticky-kit.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/custom.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/datatables/datatables.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js") }}"></script>
<script src="{{ url_for('static',filename="js/lib/datatables/datatables-init.js") }}"></script>
{% endblock %}